::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: #FF7B00;
}

::selection {
  color: #ffffff;
  background: #FF7B00;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: #ffffff;
  z-index: 10;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  border-bottom: 1px solid lightgrey;
}

nav .search {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2f2d34;
  height: 15vh;
  padding-right: 1em;
  padding-left: 1em;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .search img {
  width: 30px;
  position: absolute;
  top: 1em;
  right: 1em;
  color: #ffffff;
}

nav .search-text {
  margin-bottom: 5px;
  color: #ffffff;
}

nav .search input {
  height: 40px;
  border: none;
  border-bottom: 1px solid lightgrey;
}

nav .search-show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

nav .container {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

nav .container .search-icon,
nav .container .hamburger-icon {
  display: none;
  cursor: pointer;
}

nav .container .search-icon {
  height: 25px;
  margin-left: auto;
  margin-right: 1em;
}

nav .container .hamburger-icon {
  height: 40px;
}

nav .container .centered-items__link {
  text-decoration: none;
  padding: 0 15px;
  color: #6D696A;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

nav .container .centered-items__link:hover {
  color: #FF7B00;
}

nav .container .login-btn {
  padding: 10px 30px;
  outline: none;
  border: none;
  background-color: #FF7B00;
  color: #ffffff;
}

nav ul {
  width: 100%;
  background-color: #6D696A;
  margin: 0;
  padding: 0;
  display: none;
  height: 70vh;
  position: relative;
}

nav ul li {
  margin: 0 auto;
  list-style: none;
  font-size: 24px;
  height: 100px;
  border-bottom: 1px solid lightgrey;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

nav ul:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #6D696A;
  top: 0;
  right: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: 1em;
  margin-top: -8px;
}

nav .show-menu {
  display: block !important;
}

.nav-small {
  height: 7vh !important;
}

.carousel-main {
  position: relative;
}

.carousel-main .carousel-item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.carousel-main .carousel-item .carousel-img {
  width: 100%;
  height: 100vh;
}

.carousel-main .carousel-item .carousel-img--one {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.418)), to(rgba(0, 0, 0, 0.418))), url("/imgs/base_page/pexels-cottonbro-3945662.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.418)), url("/imgs/base_page/pexels-cottonbro-3945662.jpg");
  background-size: cover;
  background-position: center;
}

.carousel-main .carousel-item .carousel-img--two {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.418)), to(rgba(0, 0, 0, 0.418))), url("/imgs/base_page/pexels-cottonbro-3945667.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.418)), url("/imgs/base_page/pexels-cottonbro-3945667.jpg");
  background-size: cover;
  background-position: center;
}

.carousel-main .carousel-item .carousel-img--three {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.418)), to(rgba(0, 0, 0, 0.418))), url("/imgs/base_page/pexels-cottonbro-3945687.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.418)), url("/imgs/base_page/pexels-cottonbro-3945687.jpg");
  background-size: cover;
  background-position: center;
}

.products {
  width: 100%;
}

.products .popular {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products .popular__text {
  padding: 50px 0;
  color: #6D696A;
}

.products .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 100px;
}

.products .categories-link {
  padding: 10px 30px;
  font-size: 20px;
  cursor: pointer;
}

.products .categories-link--orange {
  color: #FF7B00;
}

.products .items {
  display: -ms-grid;
  display: grid;
  grid-gap: 2em;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
}

.products .items .item {
  width: 250px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
  cursor: pointer;
}

.products .items .item__img {
  position: relative;
}

.products .items .item__img img {
  width: 100%;
  height: 200px;
}

.products .items .item__text {
  font-size: 16px;
  padding: 10px 0 5px;
}

.products .items .item__price {
  color: #6D696A;
  font-size: 18px;
  font-weight: bold;
}

.products .items .item__btn {
  width: 100%;
  padding: 10px 30px;
  outline: none;
  border: none;
  background-color: #080705;
  color: #ffffff;
  font-weight: bold;
  margin-top: 5px;
}

.products .items .item__btn:hover {
  background-color: #FF7B00;
}

.best {
  margin-top: 50px;
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  height: 50vh;
  width: 100%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
}

.best__img {
  width: 100%;
  height: 100%;
}

.best__img--one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.best__img--two {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.best__img--three {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

@media (max-width: 500px) {
  nav .centered-items, nav .login-btn {
    display: none;
  }
  nav .hamburger-icon,
  nav .search-icon {
    display: initial !important;
  }
  nav ul {
    display: none;
  }
  .items {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .item {
    width: 40%  !important;
  }
  .item img {
    height: auto !important;
  }
  .item__btn {
    font-size: 16px;
  }
  .best {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    background-color: #F5F5F5;
    padding: 50px 0 50px;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */